.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 320px;
}

.movie__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 72vw;
}

.movie__card{
  display: flex;
  text-align: left;
  background-color: #0f0f0f;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1),
  -8px -8px 16px rgba(15, 15, 15, 0.4);
  position: relative;
}

.movie__text{
  padding-left: 1rem;
}

.movie__card img{
  max-width: 140px;
  height: 100%;
  object-fit: cover;
}